<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>project2 (copy) (copy)</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="assets/css/bs-theme-overrides.css">
    <link rel="stylesheet" href="assets/css/Carousel_Image_Slider-mycarousel.css">
    <link rel="stylesheet" href="assets/css/Carousel_Image_Slider.css">
    <link rel="stylesheet" href="assets/css/Carousel-Hero-1.css">
    <link rel="stylesheet" href="assets/css/Carousel-Hero.css">
    <link rel="stylesheet" href="assets/css/Dark-Mode-Switch.css">
    <link rel="stylesheet" href="assets/css/Responsive-UI-Card-02.css">
    <link rel="stylesheet" href="assets/css/responsive-video-youtube.css">
    <link rel="stylesheet" href="assets/css/Responsive-Youtube-Embed.css">
    <link rel="stylesheet" href="assets/css/Responsive-YouTube-Video-Section-Dark-Centered.css">
    <link rel="stylesheet" href="assets/css/Steps-Progressbar-1.css">
    <link rel="stylesheet" href="assets/css/steps-progressbar.css">
    <link rel="stylesheet" href="assets/css/Swiper-Slider-Card-For-Blog-Or-Product-swiper.min.css">
    <link rel="stylesheet" href="assets/css/Swiper-Slider-Card-For-Blog-Or-Product-untitled.css">
    <link rel="stylesheet" href="assets/css/Timeline-Steps.css">
    <link rel="stylesheet" href="assets/css/Video-Responsive-YouTube-Video-Responsive.css">
</head>

<body>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/-Bootswatch-Theme-Switcher-BS4--Theme-switcher.js"></script>
    <script src="assets/js/counter--Animated-numbers-section-BS4--Animated-numbers-section.js"></script>
    <script src="assets/js/Dark-Mode-Switch-darkmode.js"></script>
    <script src="assets/js/Swiper-Slider-Card-For-Blog-Or-Product-swiper.min.js"></script>
    <script src="assets/js/Theme-switcher.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>